.footer{
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
  height: 100vh;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 131px;
}
h3{
  color: white;
  margin-top: 168px;
}
.footer-logo{
  color: rgba(252, 0, 252, 0.827);
}
p{
  margin-top: 20px;
}